ip: 192.168.15.4
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: .
        to: /home/vagrant/code
sites:
    -
        map: db_tast.test
        to: /home/vagrant/code/public
databases:
    - db_test
name: db-test
hostname: db-test
